html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #f9f9f9;
}
.app-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.content-container {
    padding: 10px;
}

/*header*/
.header-inner {
    font-family: 'Smythe', Verdana, serif;
}
.header-img {
    width: 100%;
}
.website-name {
    position: absolute;
    display: flex;
    top: 10px;
    flex-direction: column;
    margin-left: 10px;
    color: #FFFF
}
.website-name h1 {
    font-size: 30px;
    font-weight: 400;
}
.website-name h2 {
    font-size: 15px;
    font-weight: 400;
    margin-top: -10px;
}

/*items-list*/
.items-list ul {
    padding-left: 0;
}
 .items-list ul li {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: 1fr;
   gap: 5px;
}
 .item-emoji {
    font-family: 'Inter', Verdana, serif;
    font-size: 45px;
    font-weight: 400;
    min-width: 62px;
}
.item-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.item--name {
    font-size: 18px;
}
.item--ingredients {
    font-size: 8px;
    color: #8B8B8B;
}
.item--price {
    font-size: 10px;
}
.item-btns {
    display: flex;
    justify-self: end;
    align-items: center;
}
.plus--btn, .minus--btn {
    font-family: 'Inter', serif;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: 1.5px solid #DEDEDE;
    font-weight: 200;
    margin-right: 15px;
    margin-left: 0;
    color: #3C3C3C;
    font-style: normal;
}
.items-list hr {
    border-top: 1px solid lightgray;
}

/*order-list*/
.order {
    text-align: center;
}
.order-list-info {
    display: none;
    flex-direction: column;
    gap: 10px;
}
.list-name-price {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding-bottom: 15px;
}
.list-name {
    justify-self: start;
}
.list-price {
    justify-self: end;
}
.total-price-final {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.list-itemsSum {
    justify-self: end;
    color: #757575;
    font-size: 14px;
}
.remove-btn {
    justify-self: end;
    color: #BBBBBB;
    background: #f9f9f9;
    border: none;
    font-family: 'Verdana', serif;
    font-size: 10px;
    padding: 5px;
}
.order--btn {
    background: #16DB99;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-family: 'Verdana', serif;
    font-weight: 700;
    font-size: 10px;
    padding: 10px;
    color: #FFFFFF;
}

/*payment form*/
.payment-modal {
    display: none;
    flex-direction: column;
    font-size: 10px;
    font-family: 'Verdana', serif;
    position: fixed;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: 1.3px solid #757575;
    text-align: center;
    background-color: #FFFFFF;
    width: 200px;
    height: 260px;
}
 h1 {
    font-size: 15px;
}
.submit-btn {
    background: #16DB99;
    border-radius: 3px;
    border: none;
    font-family: 'Verdana', serif;
    font-weight: 700;
    font-size: 10px;
    padding: 10px;
    color: #FFFFFF;
}

input {
    margin-top: 15px; 
    padding: 10px;
    width: 155px;
    border: 1.3px solid #757575;
}

/*order confirmation*/
.order-confirmation {
    display: none;
    font-family: 'Smythe', serif;
    color: #065F46;
    font-size: 20px;
    border: 1.3px solid #757575;
    background-color: #ECFDF5;
    padding: 15px;
    text-align: center;
}
